.header {
    background-color: #ffeb3b; 
    padding: 50px 80px; 
    position: relative;
    color: gray;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid black; 
    width: 70%; 
	height: 100px;
    margin: 40px auto; 
    text-transform: uppercase;
    font-weight: bold;
}

.header::before {
    content: "M";
    font-size: 80px;
	font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 10px;
}

.header span {
    position: relative;
    margin-left: 260px;
	margin-bottom: 60px; 
}

.menu {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffeb3b;
    padding: 10px 40px;
    display: flex;
    gap: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 black;
}

.main-nav__item {
    list-style: none;
}

.main-nav__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
    transition: 0.3s;
}

.main-nav__item .active {
    background-color: black;
    color: yellow;
    padding: 5px 15px;
    border-radius: 5px;
}


.main-nav__link:hover {
    color: white;
}
